.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.sh
!infra/jenkins-local/*.sh
*.ps1
!infra/jenkins-local/*.ps1
*.g.xlf
*.flf
TestResults.xml
docs/*
.run/
.gradle-user/*
infra/jenkins-local/.env
infra/jenkins-local/deployments/
infra/jenkins-local/init.groovy.d/02-create-pipeline-job.groovy
infra/jenkins-local/start-jenkins.ps1
.idea/
backend/gradle/*
!backend/gradle/wrapper/
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/gradle/wrapper/gradle-wrapper.properties
docs_backup/*
docs/*
.env
.ps1
infra/.env
infra/.env.*
infra/.envexample
infra/.env.example
infra/jenkins-local/*.ps1
frontend/.next/*
frontend/node_modules/*
frontend/package-lock.json
frontend/yarn.lock
frontend/pnpm-lock.yaml
frontend/pnpm-workspace.yaml