
JENKINS_BASE_IMAGE=jenkins/jenkins:jdk21

JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=IdolGlow!7077
IDOLGLOW_WORKSPACE=D:/intel3/IdolGlow
JENKINS_DEPLOY_HOST_PATH=D:/intel3/IdolGlow/infra/jenkins-local/deployments

GITHUB_REPO_URL=https://github.com/skyleedevzero86/IdolGlow.git
GITHUB_BRANCH=*/main
JENKINS_JOB_NAME=IdolGlow
JENKINS_SCM_POLL=H/2 * * * *

GITHUB_CREDENTIALS_ID=github-http-token
GITHUB_USERNAME=
GITHUB_TOKEN=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
